<br/>
<div class="col-xs-10 col-xs-offset-1">
  

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Display inline</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $("#datepicker").datepicker({ 
      dateFormat: 'yy-mm-dd',
      onSelect: function(date) {
      window.location.href = "/enrollments/day/" + date }}); 
  });
  </script>
</head>
<body>
 
<div id="datepicker"></div>
 
 
</body>

  <!-- <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>jQuery UI Datepicker - Display inline</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $( function() {
          //$( "#datepicker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });
          $( "#datepicker" ).datepicker({ onSelect: function(date) {
            dateArray = date.split('/');
            window.location.href = "/enrollments/day/" + (dateArray[2]+"-"+dateArray[0]+"-"+dateArray[1]);
            }});
         
      </script>
    </head>
    
    <body>
      Date: <%= @date %> <div id="datepicker"></div> 
    </body>
  
  </html> -->

  <br />

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h4> Current Enrollments</h4>
      <p> <b> <%= @date.strftime("%a%e.%_m. %_Y") %> </b> <p>
    </div>
    
    <div class="panel-body">
      <p>Go to "Enroll" to enroll in this week's training:</p>
    </div>

    
    <table class="table">
      
      <thead>  
        <tr>
          <th>Name</th>
          <% @timeslots.each do |timeslot| %>
          <th><%= timeslot.start_time %> - <%=timeslot.finish_time %> </th>
          <% end %>
        </tr>
      </thead>
   
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <% if user.enrollments.blank? == false %>
          <td><%= user.name %> <%= user.surname %></td>
          <% end %>
          <% @timeslots.each do |timeslot| %>
          <td>
            <% if user.enrollments.where(time_slot: timeslot).exists? %>
              X
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>         

    </table>
  
  </div>

  <%= link_to 'Enroll', new_enrollment_path(date: @date), class: 'btn btn-primary'%>

</div>


