<br/>
<div class="col-xs-10 col-xs-offset-1">
  

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Display inline</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>


  <script>
    $( function() {
      
      $("#datepicker").datepicker({ 
        dateFormat: 'yy-mm-dd',
        gotoCurrent: true,
        onSelect: function(date, inst) {
        window.location.href = "/enrollments/day/" + date 
        console.log(inst.data);
        }
      });
        
    });
  </script>
 
  <div id="datepicker"></div>
    
    <br />

    <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h4> Current Enrollments</h4>
      <p> <b> <%= @date.strftime("%a %e.%_m. %_Y") %> </b> <p>
              
    </div>
    
    <% if @timeslots.where("day = ?", @date.strftime("%u")).exists? %>

       
      
        <div class="panel-body">
          <p>Go to "Enroll" to enroll in this week's training:</p>
        </div>

        
        <table class="table">
          <thead>  
            <tr>
              <th>Name</th>
              
              <% @timeslots.each do |timeslot| %>
                  <th><%= timeslot.start_time %> - <%=timeslot.finish_time %> </th>
              <% end %>
            </tr>
          </thead>

   
          <tbody>
          <% if @enrollments.count > 0 %>
            <% @users.each do |user| %>
              <tr>
                <% if user.enrollments.where(date: @date).exists? %>
                  <td>
                    <%= user.name %> <%= user.surname %>
                  </td>
                               
                  <% @timeslots.each do |time_slot| %>            
                   
                    <% if user.enrollments.where(time_slot_id: time_slot.id, date: @date).exists? %>
                      <td>
                        <input disabled="disabled" type="checkbox" checked>
                        <%= time_slot.id %>
                        <%= @date %>
                       </td>
                    <% else %>                    
                      <td>
                      <input disabled="disabled" type="checkbox">
                      </td>
                    <% end %>
                  
                  <% end %>
                <% end %>
                </tr>
            <% end %>
          
          <% else %>
            
            <tr>
              <td>
                <i> Nobody has enrolled so far. </i>
              </td>

              <% @timeslots.each do |time_slot| %>
              <td>
                <input disabled="disabled" type="checkbox">
              </td>
              <% end %>
            </tr>
            <% end %>  
          
          </tbody>

                 

        </table>

      </div>
            
   <%= link_to 'Enroll', new_enrollment_path(date: @date), class: 'btn btn-primary'%>
        
        <% else %>

      <div class="panel-body">
        <p>No training available for today, please select another day to enroll.</p>
      </div>

      
      
    <% end %>

  </div>

</div>

